@{
    ViewData["Title"] = "Tam Kafadan";
}
@if(TempData["mesaj"]!=null)
	{
		<div class="alert alert-success" role="alert">
		@TempData["mesaj"]
</div>
	}



<div class="text-center">
   Tam Kafadan Blog
</div>
