@{
    ViewData["Title"] = "Hakkımızda";
}
<style>p{color:black}</style>
<h1>@ViewData["Title"]</h1>

<p>Merhaba !! Tam Kafadan Ekibinden Selamlar</p>
<hr />
<p>Sitemizde yapabileceklerinden hızlıca bahsetmek isteriz</p>
<p>Siteyemizde istediğiniz makaleyi üyelik olmadan okuyabilirsiniz.</p>
<p>Ancak kafanızda geçen bir kaç satırı bizimle paylaşmak isterseniz sisteme giriş yapmanız gerekir</p>
<p>Merak etmeyin sizi uzun uzun kayıt işlemleri ile oyalamıyoruz. <br /> Sadece email adresinize ihtiyacımız var.</p>
<hr />
<p>Sistem şöyle eğer ilk defa email adresinizi giriyorsanız biz hemen sizin için bir üyelik oluşturuyoruz.</p>
<p>Zaten önceden girmişseniz  Tam Bizim Kafadansınız.</p>
<hr />
<p>İlk defa geliyorsanız hemen sizi Ayarlar Sayfasına gönderiyoruz <br /> Belki bir foto belki hakkınızda iki satır birşey yazmak istersiniz tamamen size kalmış.</p>
<p>Aynı anda ayarlar sayfasında Tam Kafanıza göre makaleleri size göstermek için bazı konuları kafalamanızı istiyoruz.</p>
<p>ve Herşey tamamsa artık kafanıza göre olanları götürebilirsiniz.</p>

<hr />
<p>Biz kimiz ?</p>
<p>BilgeAdam Boost Yıldız Yazılımcı Yetiştirme Programından yeşerip büyümeye çalışan yazılımcı taneleriyiz. </p>