@{
    var kadi = Context.Session.GetString("kullaniciAdi");
}





<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TamKafadan</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/jquery.multiselect.css">
<link rel="stylesheet" href="~/fonts/icomoon/style.css">
       

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TamKafadan</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                        </li>
                     
                     
                    </ul>
                       
                    <ul class="navbar-nav ml-auto">
                          <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Hakkımızda</a>
                        </li>
                        @if (string.IsNullOrEmpty(kadi))
                        {
                              <li class="nav-item">
                                <a class="nav-link text-dark" data-toggle="modal" data-target="#exampleModalCenter">Makale Yaz</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" data-toggle="modal" data-target="#exampleModalCenter">Giriş Yap</a>
                            </li>
                        }
                        else
                        {
                              <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Makale" asp-action="MakaleYaz">Makale Yaz</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark"  asp-action="Profil" asp-controller="Yazar" asp-route-kullaniciAdi="@kadi" >Profil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Yazar" asp-action="Cikis">Çıkış Yap</a>
                            </li>
                        }
                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
    Tam Kafadan'a hoşgeldiniz. Giriş yapmak için lütfen e-posta adresinizi girerek Gönder tuşuna basınız. E-postanıza gelen link ile giriş yapabilirsiniz. 
    <form method="post" class="mt-2" asp-controller="Giris" asp-action="GirisEmail">
        <input name="email" type="email"/>
        <button class="btn btn-secondary">Gönder</button>
    </form>    
</div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TamKafadan - <a asp-area="" asp-controller="Home" asp-action="Privacy">Hakkımızda</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
