



<div class="container text-center">
    <h5>Tam Kafadan'a hoşgeldin. </h5> Giriş yapmak için lütfen e-posta adresinizi girerek Gönder tuşuna basınız. E-postanıza gelen link ile giriş yapabilirsiniz.
    <form method="post" class="mt-2" asp-controller="Giris" asp-action="GirisEmail">
        <input name="email" type="email"/>
        <button class="btn btn-secondary">Gönder</button>
    </form>    
</div>