



<div class="container text-center">
    <h4>Tam Kafadan'a hoşgeldin. Giriş yapmak için lütfen e-posta adresinizi girerek Gönder tuşuna basınız. E-postanıza gelen link ile giriş yapabilirsiniz. </h4>
    <form method="post" class="mt-2">
        <input name="email" type="email"/>
        <button class="btn btn-secondary">Gönder</button>
    </form>    
</div>